.list {
  max-height: 250px;
  height: 100%;
  overflow-y: scroll;
  display: grid;
  margin: 0 5px 0 0;
  border-bottom: 1px solid #21212150;
}
.list::-webkit-scrollbar {
  width: 8px;
}
.list::-webkit-scrollbar-button {
  height: 5px;
}
.list::-webkit-scrollbar-thumb {
  background: #0000003d;
  border-radius: 2rem;
}
